@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

.container-fluid {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    background-color: #eee;
}

#header {
    background-color: #ddd;
}

#title {
    text-align: left;
}

#links {
    text-align: right;
    list-style-type: none;
    display: inline;
    vertical-align: middle;
}

#links li {
    display: inline;
}

#image-box {
    background-image: url(https://previews.123rf.com/images/sibfilm/sibfilm1905/sibfilm190500148/122845123-factory-for-the-production-of-robots-modern-robotic-developments-the-disassembled-robot-waves-his-ha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50rem;
}

#splash-box {
    background-color: rgba(88, 88, 89, 0.98);
    color: #eee;
    margin: 25rem 0 10rem 0;
    padding-bottom: 15px;
    padding-top: 30px;
    border-radius: 5px;
    border-width: 1rem;
    text-align: center;
}

#email {
    text-align: center;
}

#splash-title {
    margin-top: 1rem;
}

#features-title {
    text-align: center;
}

#video-title {
    text-align: center;
}

#pricing-title {
    text-align: center;
}

#pricing {
    align-content: center;
    text-align: center;

}

#p1 {
    border: 1px solid #000;
    border-radius: 5px;
}

#p2 {
    border: 1px solid #000;
    border-radius: 5px;
}

#p3 {
    border: 1px solid #000;
    border-radius: 5px;
}

#footer {
    text-align: right;
    background-color: #ddd;
}

#footer ul {
    list-style-type: none;
    display: inline;
    vertical-align: middle
}
