@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    /*insert color palette*/
}

.container {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "header header header header header"
    "image image image image image"
    ". features features features ."
    ". video video video ."
    ". pricing pricing pricing ."
    "footer footer footer footer footer";
}

.header {
    grid-area: header;
    background-color: blue;
}

.image-box {
    grid-area: image;
    background-color: red;
}

.splash-box {
    grid-area: image;
    background-color: coral;
}

.features {
    grid-area: features;
}

.how-it-works {
    grid-area: video;
}

.pricing {
    grid-area: pricing;
}

.footer {
    grid-area: footer;
}